@import './variables';

.toolbar {
    width: 100%;
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    box-shadow: 0 4px 5px gray;
}

.setting-bar {
    width: 100%;
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: $toolbar-height;
    box-shadow: 0 4px 5px gray;

}

.toolbar {
    display: flex;
    column-gap: 16px;
    padding: 0 21px;
}
.toolbar__btn {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    background-size: cover;
}

.brush{
    background: url(../assets/img/brush.png) no-repeat center center;
}
.rect{
    background: url(../assets/img/rect.png) no-repeat center center;
}
.circle{
    background: url(../assets/img/circle.png) no-repeat center center;
}
.eraser{
    background: url(../assets/img/eraser.png) no-repeat center center;
}
.line{
    background: url(../assets/img/line.png) no-repeat center center;
}
.colorful{
    background: url(../assets/img/colorful.png) no-repeat center center;
}
.undo{
    background: url(../assets/img/undo.png) no-repeat center center;
    margin-left: auto;
}
.redo{
    background: url(../assets/img/redo.png) no-repeat center center;
}
.save{
    background: url(../assets/img/save.png) no-repeat center center;
}